.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/img1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.activities-card {
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.activities-card:hover {
  transform: translateY(-15px);
  opacity: 0.5;
}

.activities-card#act1 {
  background-image: url('images/img6.jpg');
  background-position-x: 55%;
}

.activities-card#act2 {
  background-image: url('images/img5.jpg');
  background-position-x: 40%;
}

.activities-card#act3 {
  background-image: url('images/img3.jpg');
  background-position-x: 50%;
}



